.table,
.table__th,
.table__td {
  border: 1px solid;
}

.table {
  width: 100%;
}

.table__thead {
  background-color: #ddd;
}

.table__th {
  cursor: pointer;
}

.search-field {
  display: block;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
}

.search-field__input {
  margin-left: 10px;
  width: 100%;
}
